* {
  margin: 0;
  box-sizing: border-box;
}

.container__body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr auto;
}

.header {
  height: 100%;
}

.container__main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: #d8dfe8;
}

@media (min-width: 768px) {
  .container__main {
    grid-template-columns: auto 1fr auto;
    padding: 2.5rem;
  }
}

.container__texto--input {
  padding-top: 4rem;
  height: 100%;
  width: 100%;
  max-width: 45.625rem;
  display: flex;
  flex-direction: column;
}

.texto-input {
  width: 100%;
  height: 80%;
  padding: 0.625rem;
  font-size: 2rem;
  color: #0a3871;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .texto-input {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
}

textarea::placeholder {
  color: #0a3871;
}

.container__botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .container__botones {
    margin-bottom: 2rem;
  }
  button {
    width: 10%;
  }
  .texto-input {
    height: 20rem;
  }
}

button {
  width: 100%;

  height: 3.125rem;
  border-radius: 1.5rem;
  color: white;
  background-color: #0a3871;
  font-size: 1rem;
  border: 1px solid #0a3871;
  margin-top: 6px;
}

button:disabled {
  background-color: #d8dfe8;
}

.container__texto--encriptado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 25rem;
  box-sizing: border-box;
  word-break: break-word;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.178);
}

.container__texto--encriptado > h2 {
  padding: 0 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container__texto--encriptado > p {
  font-size: 1rem;
  padding: 0 0.25rem;
}
.hidden {
  display: none;
}
@media (max-width: 768px) {
  .container__img {
    display: none;
  }
  .container__texto--encriptado {
    width: 90vw;
  }
  .container__main {
    height: 100%;
  }
}

.container__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 9.375rem;
  color: white;
  background-color: #0a3871;
}
